/node_modules
/public/hot
/vendor
/public/storage
/public/uploaded_file/*
/storage/*.key
.env
vendor
/.idea
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
